@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap");

@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  --gray-color: #2e363e;
  --light-gray-color: #f2f6fa;
  --primary-color: #fed84c;
  --blue-color: #5d6afb;
  --white-color: #ffffff;
  --violet-color: #081130;
}

a {
  color: var(--gray-color);
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

input {
  font-family: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

[class*="__container"] {
  max-width: 1210px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  background: transparent;
  transition: all 0.3s ease 0s;
  z-index: 50;
  //   border-bottom: 1px solid #7e868e32;

  &.sticky {
    background: #08113081;
    backdrop-filter: blur(5px);
    min-height: rem(80);
  }
  &__container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    column-gap: rem(70);
    min-height: inherit;
    //  min-height: 100px;
    //  justify-content: space-between;
    @media (max-width: 768px) {
      grid-template-columns: 1fr auto;
      column-gap: 0;
    }
  }
  &__logo {
  }
  &__address {
    display: flex;
    align-items: center;
    column-gap: rem(12);
    span {
      color: var(--white-color);
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__phone {
  }
}
.logo {
  &__link {
    color: var(--white-color);
    font-size: clamp(1rem, 2.5vw, 1.3rem);
  }
}
.phone {
  display: flex;
  align-items: center;
  column-gap: rem(12);
  img {
  }
  &__main {
    display: flex;
    flex-direction: column;
  }
  &__link {
    color: var(--white-color);
    // font-size: clamp(1.3rem, 2.5vw, 0.9rem);
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    font-weight: 700;
    transition: all 0.3s ease 0s;
    &:hover {
      color: var(--primary-color);
    }
  }
  &__sub {
    color: var(--white-color);
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.page {
  min-width: 0;
}

.welcome {
  min-height: 100vh;
  margin-bottom: 5rem;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    //  height: calc(100% + 200px);
    z-index: -1;
    object-fit: cover;
  }
  &__container {
    position: relative;
    min-height: inherit;
    display: flex;
    align-items: center;
    z-index: 5;
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__sub-title {
    padding: 10px 15px;
    background: var(--light-gray-color);
    color: var(--gray-color);
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
  }
  &__title {
    font-weight: 700;
    // font-size: 3rem;
    color: var(--white-color);
    margin-bottom: 1.6rem;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    max-width: rem(640);
  }
  &__text {
    max-width: rem(544);
    line-height: 143%;
    color: var(--white-color);
    font-size: 1.3rem;
  }
  &__action {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-top: rem(40);
    @media (max-width: 480px) {
      flex-direction: column;
    }
  }
  &__btn {
  }
  &__about {
    color: var(--white-color);
    @media (max-width: 480px) {
      display: none;
    }
  }
}
.btn-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // font-size: clamp(1.5rem, 2.5vw, 3rem);
  padding: clamp(15px, 2.5vw, 30px) clamp(25px, 2.5vw, 50px);
  background: var(--primary-color);
  color: var(--gray-color);
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease-out 0s;
  font-size: 1.1rem;
  &:hover,
  &:focus {
    // box-shadow: inset 0 0 0 3rem var(--light-gray-color);
    background: var(--white-color);
    box-shadow: 0 0 1px 2px var(--primary-color);
    //  color: var(--white-color);
  }
}

.berry-1 {
  position: absolute;
  top: 10%;
  left: -5%;
  z-index: 1;
  @media (max-width: 1024px) {
    display: none;
  }
}

.berry-2 {
  position: absolute;
  top: 5%;
  right: 0;
  transform: rotate(90deg);
  transform: scale(0.8);
  @media (max-width: 1024px) {
    display: none;
  }
}
.berry-3 {
  position: absolute;
  bottom: 10%;
  right: 10%;

  transform: scale(0.7) rotate(170deg);
  @media (max-width: 1024px) {
    display: none;
  }
}

.leaf-1 {
  position: absolute;
  bottom: -10%;
  left: 0;
  @media (max-width: 1024px) {
    display: none;
  }
}

.products {
  position: relative;
  background: var(--white-color);
  &__container {
  }
  &__top {
    margin-bottom: clamp(2rem, 5vw, 80px);
  }
  &__title {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    // font-size: 48px;
    font-size: clamp(1.6rem, 4vw, 3rem);
    line-height: clamp(2rem, 4vw, 60px);
  }
  &__bottom {
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
  }
  &__card {
  }
}
.card {
  border-radius: 10px;
  border: 1px solid #f2f6fa;
  display: flex;
  flex-direction: column;

  &__img {
    img {
      transition: all 0.3s ease 0s;
      width: 100%;
      height: 100%;
      object-fit: cover;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding: clamp(1.3rem, 2.5vw, 50px) clamp(0rem, 2.5vw, 44px)
      clamp(0rem, 2.5vw, 50px) clamp(0rem, 2.5vw, 44px);
  }
  &__title {
    margin-bottom: 12px;
  }
  &__description {
    margin-bottom: 24px;
  }
  &__cost {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
  }
  &__btn {
    align-self: flex-start;
    padding: 20px 40px;
  }
}

.price {
  position: relative;
  // padding-top: rem(200);
  background: var(--violet-color);
  &__separator {
    // position: absolute;
    width: 100%;

    object-fit: cover;
  }
  &__separator-down {
    position: relative;
    // position: absolute;
    width: 100%;
    z-index: 2;
    object-fit: cover;
    margin-bottom: -10px;
  }
  &__container {
    display: grid;
    grid-template-columns: 50% 50%;
    // min-height: 1000px;
    align-items: center;
    // padding: 200px 0;
    @media (max-width: 1440px) {
      grid-template-columns: 1fr;
    }
  }
  &__left {
    position: relative;
    height: 100%;
    img {
      position: absolute;
      bottom: -90%;
      left: -50%;
      // width: 100%;
      max-height: 900px;
      object-fit: contain;
      z-index: 1;
      @media (max-width: 1440px) {
        display: none;
      }
    }
  }
  &__right {
    // margin-bottom: rem(200);
    // z-index: 50;
  }
  &__sub-title {
    padding: 10px 15px;
    background: var(--light-gray-color);
    color: var(--gray-color);
    border-radius: 5px;
    font-size: 0.7rem;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
  }
  &__title {
    font-weight: 500;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    color: var(--white-color);
    margin-bottom: 1.6rem;
    max-width: rem(490);
  }
  &__text {
    max-width: rem(544);
    line-height: 143%;
    color: var(--white-color);
    font-size: 1.3rem;
  }
  &__action {
    margin-top: rem(40);
  }
  &__btn {
  }
}

.footer {
  background: var(--violet-color);
  padding-bottom: rem(30);
  &__separator {
    width: 100%;
  }
  &__container {
  }
  &__links {
    justify-content: center;
    margin-bottom: rem(20);
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
  }
  &__link {
    color: #7e868e;
  }
  &__info {
    text-align: center;
    color: #7e868e;
  }
  &__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: clamp(rem(35), 2.5vw, rem(70)) clamp(rem(0), 2.5vw, rem(150));
    border-radius: 8px;
    background: var(--white-color);
  }
  &__title {
    font-weight: 700;
    font-size: clamp(1.5rem, 2.5vw, rem(36));
    text-align: center;
    margin-bottom: rem(12);
  }
  &__sub-title {
    font-weight: 400;
    font-size: clamp(18px, 2.5vw, rem(21));
    text-align: center;
    margin-bottom: rem(12);
  }
  &__form {
  }
  &__bottom {
    margin-top: clamp(18px, 2.5vw, 5rem);
  }
}
.form-footer {
  margin-top: clamp(18px, 2.5vw, rem(36));
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;

  grid-template-rows: 1fr auto;
  grid-template-areas: "input btn" "chk chk";
  column-gap: 20px;
  row-gap: 24px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    grid-template-areas: "input" "btn" " chk";
  }

  &__input {
    border: none;
    border-radius: 8px;
    background: var(--light-gray-color);
    grid-area: input;
    // padding-left: 25px;
    padding: clamp(15px, 2.5vw, 30px) clamp(25px, 2.5vw, 50px);
    font-size: rem(18);
    position: relative;
    transition: all 0.3s ease 0s;
    &:focus {
      outline: none;
      box-shadow: 0 0 1px 2px var(--primary-color);
      background: var(--white-color);
    }
    // &::before {
    //   position: absolute;
    //   display: block;
    //   content: url("../img/icons/gray-phone.svg");
    //   width: 100%;
    //   height: 100%;
    //   top: 0;
    //   left: 0;
    // }
  }
  &__btn {
    grid-area: btn;
    font-weight: 500;
    font-style: normal;
    font-size: rem(18);
  }
  &__chk {
    grid-area: chk;
    align-items: center;
    justify-self: center;
    color: #7e868e;
    input {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }
}

.gallery {
  &__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    padding: 20px 15px;
  }
  &__title {
    font-weight: 500;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
  }
  &__sub-title {
    font-size: clamp(1.2rem, 2.5vw, rem(24));
    margin-bottom: rem(30);
  }
  &__main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
  &__item {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
